.ticket-preview {
    color: #111;
}

.ticket-preview h1,
.ticket-preview h2,
.ticket-preview h3,
.ticket-preview h4,
.ticket-preview h5,
.ticket-preview h6 {
    margin-bottom: 0;
    font-size: 1.2rem;
}

.ticket-preview p,
.ticket-preview ul {
    margin-top: 10px;
    font-size: 1rem;
}